venv/
.trae/
backend/static/uploads/
backend/backend/static/uploads/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.DS_Store
database.db
*.db
